<div class="card mb-3">
    <div class="row">
        <div class="col">
            <img src="https://img.freepik.com/vector-gratis/fondo-diseno-web_1300-39.jpg?w=740&t=st=1660791407~exp=1660792007~hmac=cb7cfd9c37315e2c68dc1385c309f5c2f14397593699528091ee11a8aa5bd0f5" class="rounded  me-10"
                width="200px" height="200px">
        </div>
        <div class="col-md-9">
            <div class="card-body">

                <h2 class="card-title me-5"><strong>This Second Heading</strong><small class="text-muted"> Is Pretty Cool Too
                    </small></h2>
                <p class="card-text me-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat explicabo
                    voluptatibus
                    quia vel harum
                    tempore repellat magnam beatae ducimus hic. Accusantium consectetur commodi, velit sapiente maiores
                    dicta doloribus quibusdam distinctio.</p>
                <div class="p-2 flex-fill">
                </div>
            </div>
        </div>
       
    </div>
</div>
